@using FinFinder.Web.ViewModels.FishCatch;
@model FishCatchDetailsViewModel

<h1>@Model.Species</h1>
<img src="@(Model.PhotoURL ?? "/images/default-fish.jpg")" alt="Fish Photo" class="img-fluid mb-3" />

<div>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Weight:</strong> @Model.Weight kg</p>
    <p><strong>Length:</strong> @Model.Length cm</p>
    <p><strong>Location:</strong> @Model.Location</p>
    <p><strong>Technique Used:</strong> @Model.FishingTechniqueName</p>
    <p><strong>Date Caught:</strong> @Model.DateCaught.ToString("MMMM dd, yyyy")</p>
</div>

<hr />

@{
    var name = User?.Identity?.Name;
    var owner = Model.PublisherName;
}

@if (User?.Identity?.Name == @Model.PublisherName)
{
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
}
@if (User.Identity.IsAuthenticated)
{
    <form asp-action="AddToFavorites" method="post" asp-route-id="@Model.Id">
        <button type="submit" class="btn btn-warning mt-3">Add to Favorites</button>
    </form>
}


<!-- Publisher Information -->
<h3>Publisher</h3>
<div class="media">
    <img src="@(Model.PublisherProfilePictureURL ?? "/images/default-profile.jpg")" alt="@Model.PublisherName" class="mr-3 rounded-circle" style="width: 50px; height: 50px;">
    <div class="media-body">
        <h5 class="mt-0">@Model.PublisherName</h5>
        
    </div>
</div>
